In [2]:
import numpy as np
import pandas as pd

In [3]:
car = pd.read_csv('/kaggle/input/used-car-auction-prices/car_prices.csv', error_bad_lines=False)

/tmp/ipykernel_32/829825274.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  car = pd.read_csv('/kaggle/input/used-car-auction-prices/car_prices.csv', error_bad_lines=False)
Skipping line 408163: expected 16 fields, saw 17
Skipping line 417837: expected 16 fields, saw 17
Skipping line 421291: expected 16 fields, saw 17
Skipping line 424163: expected 16 fields, saw 17

Skipping line 427042: expected 16 fields, saw 17
Skipping line 427045: expected 16 fields, saw 17
Skipping line 434426: expected 16 fields, saw 17
Skipping line 444503: expected 16 fields, saw 17
Skipping line 453796: expected 16 fields, saw 17

Skipping line 461599: expected 16 fields, saw 17
Skipping line 461614: expected 16 fields, saw 17

Skipping line 492486: expected 16 fields, saw 17
Skipping line 497010: expected 16 fields, saw 17
Skipping line 497013: expected 16 fields, saw 17
Skipping line 499085: expected 16 fields, saw 17
Skipping line 501457: expected 16 fields, saw 17
Skipping line 505301: expected 16 fields, saw 17
Skipping line 505308: expected 16 fields, saw 17
Skipping line 520463: expected 16 fields, saw 17

Skipping line 528998: expected 16 fields, saw 17
Skipping line 529011: expected 16 fields, saw 17
Skipping line 529015: expected 16 fields, saw 17
Skipping line 529624: expected 16 fields, saw 17
Skipping line 548786: expected 16 fields, saw 17
Skipping line 551224: expected 16 fields, saw 17
Skipping line 554712: expected 16 fields, saw 17

In [4]:
car

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,"kia motors america, inc",20500,21500,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,"kia motors america, inc",20800,21500,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,4.5,1331.0,gray,black,financial services remarketing (lease),31900,30000,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,4.1,14282.0,white,black,volvo na rep/world omni,27500,27750,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,4.3,2641.0,gray,black,financial services remarketing (lease),66000,67000,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558806,2015,Kia,K900,Luxury,Sedan,NaN,knalw4d4xf6019304,in,4.5,18255.0,silver,black,avis corporation,35300,33000,Thu Jul 09 2015 07:00:00 GMT-0700 (PDT)
558807,2012,Ram,2500,Power Wagon,Crew Cab,automatic,3c6td5et6cg112407,wa,5.0,54393.0,white,black,i -5 uhlmann rv,30200,30800,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558808,2012,BMW,X5,xDrive35d,SUV,automatic,5uxzw0c58cl668465,ca,4.8,50561.0,black,black,financial services remarketing (lease),29800,34000,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558809,2015,Nissan,Altima,2.5 S,sedan,automatic,1n4al3ap0fc216050,ga,3.8,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100,11100,Thu Jul 09 2015 06:45:00 GMT-0700 (PDT)
558810,2014,Ford,F-150,XLT,SuperCrew,automatic,1ftfw1et2eke87277,ca,3.4,15008.0,gray,gray,"ford motor credit company,llc pd",29600,26700,Thu May 28 2015 05:30:00 GMT-0700 (PDT)

In [5]:
df = car[['make','condition','odometer', 'mmr', 'sellingprice']]

In [6]:
df

          make  condition  odometer    mmr  sellingprice
0          Kia        5.0   16639.0  20500         21500
1          Kia        5.0    9393.0  20800         21500
2          BMW        4.5    1331.0  31900         30000
3        Volvo        4.1   14282.0  27500         27750
4          BMW        4.3    2641.0  66000         67000
...        ...        ...       ...    ...           ...
558806     Kia        4.5   18255.0  35300         33000
558807     Ram        5.0   54393.0  30200         30800
558808     BMW        4.8   50561.0  29800         34000
558809  Nissan        3.8   16658.0  15100         11100
558810    Ford        3.4   15008.0  29600         26700

[558811 rows x 5 columns]

In [7]:
df['make'].unique()

array(['Kia', 'BMW', 'Volvo', 'Nissan', 'Chevrolet', 'Audi', 'Ford',
       'Hyundai', 'Buick', 'Cadillac', 'Acura', 'Lexus', 'Infiniti',
       'Jeep', 'Mercedes-Benz', 'Mitsubishi', 'Mazda', 'MINI',
       'Land Rover', 'Lincoln', 'lincoln', 'Jaguar', 'Volkswagen',
       'Toyota', 'Subaru', 'Scion', 'Porsche', nan, 'bmw', 'Dodge',
       'FIAT', 'Chrysler', 'ford', 'Ferrari', 'Honda', 'GMC',
       'mitsubishi', 'Ram', 'smart', 'chevrolet', 'Bentley', 'chrysler',
       'pontiac', 'Pontiac', 'Saturn', 'Maserati', 'Mercury', 'HUMMER',
       'landrover', 'cadillac', 'land rover', 'mercedes', 'mazda',
       'toyota', 'lexus', 'gmc truck', 'honda', 'nissan', 'porsche',
       'Saab', 'Suzuki', 'dodge', 'subaru', 'Oldsmobile', 'oldsmobile',
       'hyundai', 'jeep', 'Isuzu', 'dodge tk', 'Geo', 'acura',
       'volkswagen', 'suzuki', 'kia', 'audi', 'Rolls-Royce', 'gmc',
       'maserati', 'mazda tk', 'mercury', 'buick', 'hyundai tk',
       'mercedes-b', 'vw', 'Daewoo', 'chev truck', 'ford tk', 'plymouth',
       'Plymouth', 'ford truck', 'Tesla', 'airstream', 'dot',
       'Aston Martin', 'Fisker', 'Lamborghini', 'Lotus'], dtype=object)

In [8]:
df.isnull().sum()

make            10301
condition       11794
odometer           94
mmr                 0
sellingprice        0
dtype: int64

In [9]:
df_new = df.sample(1000)

In [10]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 391600 to 50592
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   make          979 non-null    object
 1   condition     987 non-null    float64
 2   odometer      999 non-null    float64
 3   mmr           1000 non-null   int64
 4   sellingprice  1000 non-null   int64
dtypes: float64(2), int64(2), object(1)
memory usage: 46.9+ KB

In [11]:
df_new['condition'].unique

<bound method Series.unique of 391600    1.9
354754    1.9
319290    4.6
346806    4.5
14597     3.6
         ...
389526    2.0
378105    3.6
540451    2.4
10341     4.3
50592     3.8
Name: condition, Length: 1000, dtype: float64>

In [12]:
df_new.isnull().sum()

make            21
condition       13
odometer         1
mmr              0
sellingprice     0
dtype: int64

# Condition has 19 null values
# Make means car name has 19 null values
# working on only numerical data

In [13]:
backup = df_new.copy()

In [14]:
df_new.isnull().sum()

make            21
condition       13
odometer         1
mmr              0
sellingprice     0
dtype: int64

In [15]:
df_new = df_new.dropna(axis=0)

In [16]:
df_new.isnull().sum()

make            0
condition       0
odometer        0
mmr             0
sellingprice    0
dtype: int64

In [17]:
df_new

              make  condition  odometer    mmr  sellingprice
391600       Dodge        1.9  132775.0   3175          2200
354754      Toyota        1.9  257395.0   1700          2300
319290      Nissan        4.6   57950.0  17300         19400
346806     Porsche        4.5   13089.0  81000         80000
14597   Volkswagen        3.6   60800.0  10300         10300
...            ...        ...       ...    ...           ...
389526        Ford        2.0  101477.0  20400         18900
378105        Ford        3.6  170738.0   7675          7300
540451        Jeep        2.4   59281.0   7800          7100
10341        Dodge        4.3   39694.0  19000         19700
50592    Chevrolet        3.8   39390.0  11400         11500

[966 rows x 5 columns]

In [18]:



# Assuming df_new is your DataFrame
makes_to_drop = ['Isuzu', 'lexus','FIAT', 'landrover','jeep']  # Add more makes if needed
df_new = df_new[~df_new['make'].isin(makes_to_drop)]

# Here none of the value is null

In [19]:
df_new.describe()

        condition       odometer           mmr  sellingprice
count  963.000000     963.000000    963.000000    963.000000
mean     3.446937   67374.731049  13802.596054  13709.341641
std      0.930751   52260.857906   9251.781084   9324.536800
min      1.000000     134.000000    150.000000    150.000000
25%      2.700000   27960.500000   7300.000000   7300.000000
50%      3.600000   51326.000000  12250.000000  12200.000000
75%      4.200000   98854.500000  18500.000000  18450.000000
max      5.000000  338382.000000  82000.000000  83100.000000

# All the data are related to others data so we work on it

# Model work

In [20]:
x = df_new.drop(columns='sellingprice')
y = df_new['sellingprice']

In [21]:
x

              make  condition  odometer    mmr
391600       Dodge        1.9  132775.0   3175
354754      Toyota        1.9  257395.0   1700
319290      Nissan        4.6   57950.0  17300
346806     Porsche        4.5   13089.0  81000
14597   Volkswagen        3.6   60800.0  10300
...            ...        ...       ...    ...
389526        Ford        2.0  101477.0  20400
378105        Ford        3.6  170738.0   7675
540451        Jeep        2.4   59281.0   7800
10341        Dodge        4.3   39694.0  19000
50592    Chevrolet        3.8   39390.0  11400

[963 rows x 4 columns]

In [22]:
y

391600     2200
354754     2300
319290    19400
346806    80000
14597     10300
          ...
389526    18900
378105     7300
540451     7100
10341     19700
50592     11500
Name: sellingprice, Length: 963, dtype: int64

In [23]:
from sklearn.model_selection import train_test_split

/opt/conda/lib/python3.10/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.5
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [24]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler,OneHotEncoder,LabelEncoder
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.compose import ColumnTransformer

In [25]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [26]:
print(df_new.columns)

Index(['make', 'condition', 'odometer', 'mmr', 'sellingprice'], dtype='object')

In [27]:
categorical_columns = ['make', ]

In [28]:
print(x.columns)

Index(['make', 'condition', 'odometer', 'mmr'], dtype='object')

In [29]:
preprocessor = ColumnTransformer(
    transformers=[
        ('num', StandardScaler(), ~x_train.columns.isin(categorical_columns)),
        ('cat', OneHotEncoder(), categorical_columns)
    ])

In [30]:
pipe = Pipeline([
    ('preprocessor', preprocessor),
    ('linear_regression', LinearRegression())
])

In [31]:
pipe.fit(x_train, y_train)

Pipeline(steps=[('preprocessor',
                 ColumnTransformer(transformers=[('num', StandardScaler(),
                                                  array([False,  True,  True,  True])),
                                                 ('cat', OneHotEncoder(),
                                                  ['make'])])),
                ('linear_regression', LinearRegression())])

In [32]:
y_predict = pipe.predict(x_test)

r2_score(y_test,y_pred)

In [33]:
r2_score(y_test,y_predict)

0.9637609044739502

In [34]:
import pickle
pickle_out = open("classifier.pkl", "wb")
pickle.dump(pipe, pickle_out)
pickle_out.close()